DB_HOST=host.docker.internal
DB_PORT=3306
DB_USER=root
DB_PASSWORD=fastapi_admin_123
DB_NAME=fva
DB_MAXSIZE=10
DB_MINSIZE=1
DB_ECHO=false

OPENAI_API_URL=
OPENAI_API_KEY=
OPENAI_MODEL=
FRONTEND_PROJECT_PATH=
IP_LOCATION_API_URL=https://ipwho.is/{ip}
